server:
  port: 8080

log:
  # 是否启用请求日志记录
  enabled: true
  # 日志文件路径
  path: "requests.log"

gemini:
  base_url: "your genai base_url"
  api_key: "your api key"

auth:
  openai_api_key: "your openai compatible api key"